body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  .bg-img {
    /* The image used */
    background-image: url("../../../assets/pngegg24.png");
    /* background-image: linear-gradient(180deg, yellow,white); */
    
    /* Control the height of the image */
    min-height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .imgcontainer {
    text-align: center;
    margin: 0 0 0px 0;

  }
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  /* Add styles to the form container */
  .container {
    position:absolute;
    right: 0;
    margin: 1px;
    max-width: 300px;
    padding: 10px;
    background-color: rgb(216, 237, 239);
    margin-right: 10px;
    margin: -14em auto;
    border: 1px solid #2c087c;
    border-radius: 5px;
    margin-right: 10rem;
  }
  
  /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f5faf5;
    border: 1px solid #2c087c;
    border-radius: 5px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #046c46;
    color: black;
    padding: 16px 20px;
    border: 1px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    
  }
  
  .btn:hover {
    opacity: 1;
  }
  .imgp {
    margin-left: 150px;
    height: 350px;
    padding-top: 150px;
  }
  .img1 {
    height: 300px;
    width: 300px;
  }

  