<div class="bg-img">
    <p class="imgp">
        <img src="../../../assets/pngegg.png" class="img1">
    </p>
    
    <form action="" class="container" >
      <div class="imgcontainer">
        <img src="../../../assets/logo_new.png" alt="Avatar" class="avatar">
      </div>       
      <h1>Login</h1>  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <div class="imgcontainer">
        <button mat-raised-button color="Accent" class="btn" (click)="gotoDashboard()">Login</button>
      </div>
      <!-- <button type="submit" class="btn">Login</button> -->
     
    </form>
</div>
